<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
    <label for="filterText" class="form-label">Urunu ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
     placeholder="search for product">
</div>

<div *ngIf="filterText.length>2" class="alert alert-primary">
    {{filterText}} aradiniz

</div>

<table *ngIf="dataLoaded!=false" class="table">  
    <thead>
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Unit Price</th>
            <th>VAT Price</th>
            <th>Units in Stock</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products | filterPipe:filterText">
        <td> {{product.productId}} </td>
        <td> {{product.productName | uppercase}} </td>
        <td> {{product.categoryId}} </td>
        <td> {{product.unitPrice | currency}} </td>
        <td> {{product.unitPrice | vatAdded:18 | currency}} </td>
        <td> {{product.unitsInStock}} </td>
        <td><button (click)="addToCart(product)" type="button" class="btn btn-success">Add to bucket</button></td>
    </tr>
    </tbody>
</table>

